section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 50px 10vw;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  place-items: center;
  transition: transform 0.1s ease-out; /* Smooth transition for translateY */
}

img {
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
}

h1 {
  display: flex;
  font-size: 3.5rem;
  z-index: 2;
  line-height: 1.2;
  color: #ff5055;
  padding: 15px;
  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}
h2 {
  padding: 20px;
  margin-top: -30px;
  font-family: "ivystyle-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-family: "ivystyle-sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #ff5055;
}

p {
  display: flex;
  font-size: 0.8rem;
  z-index: 2;
  line-height: 1.5;
  color: black;
  font-family: "ivystyle-sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.portfolio-link {
  text-decoration: none;
  color: #ff5555; /* Base color */
  display: inline-block; /* Makes the movement animation smoother */
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Hover Effect: Move the link */
.portfolio-link:hover {
  color: #ff3333; /* Optional: Change color on hover */
  transform: translateX(10px); /* Move the link to the right by 10px */
}

.skills-chart {
  width: 300px;
}

.skills-chart h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: left;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.skill .name {
  flex: 1;
}

.skill .dots {
  display: flex;
  gap: 5px;
}

.skill .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ddd;
}

.skill .dot.filled {
  background-color: #ff5055;
}

* {
  box-sizing: border-box;
}

.slide-in {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 2s ease-out, opacity 0.6s ease-out;
}

.slide-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.container2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.scroll {
  margin-top: 80px;
  width: 60px;
  height: 60px;
  border: 2px solid #ff5055;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 18px;
    width: 18px;
    height: 18px;
    border-left: 2px solid #ff5055;
    border-bottom: 2px solid #ff5055;
    transform: rotate(-45deg);
  }
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

html {
  scroll-behavior: smooth;
}

@media (width < 800px) {
  .scroll {
    display: none;
  }
}

/* Billeder nederst på om mig site */

/* Hide all slides by default */
.mySlides {
  display: none;
}

footer {
  padding: 5px 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer-simple {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-socials a {
  color: #ff5055;
  text-decoration: none;
  margin: 0 5px;
  font-size: 14px;
}

.footer-socials a:hover {
  color: black;
}

/* Media query for screens 800px and smaller */
@media (max-width: 800px) {
  footer {
    padding: 5px 10px;
    font-size: 12px;
  }

  .footer-socials a {
    font-size: 12px;
  }
}
.image-container {
  position: relative;
  display: inline-block; /* Ensures the container resizes with the main image */
}
